*.pyc
*.egg-info
*.db

# Если вы программируете на Mac
.DS_Store
../.DS_Store

# Если вы пользуетесь виртуальными окружениями
/env
/env_flask
/res.txt
/bs.txt

# Настройки и хранение секретных данных
/.env
/.env_flask
settings.py
*.log
.vscode/
.idea/
env/
.DS_Store
__pycache__/
api_key.py
config.py