
<!DOCTYPE html>
<html>
<head>
	<title>{{page_title}}</title>
	<style>
		.header img {
			width: 200px;
			display: inline-block; /* добавляем свойство display */
		}
		.header span {
			display: inline-block;
			margin-left: 20px; /* добавляем отступ слева */
			font-size: 24px; /* изменяем размер шрифта */
			font-weight: bold; /* делаем текст жирным */
		}
	</style>
</head>
<body>
	<div class="header">
		<img src="{{ url_for('static', filename='logo.png') }}" alt="Собакруг">
		<span>{{page_title}}</span> <!-- добавляем надпись -->
	</div>
	<div class="container">
		{% for dog in dogs %}
		<div class="dog">
			<div class="photo">
				<img src="{{ url_for('static', filename=dog.photo) }}" alt="{{ dog.name }}">
			</div>
			<div class="details">
				<p><strong>Кличка:</strong> {{ dog.name }}</p>
				<p><strong>Порода:</strong> {{ dog.breed }}</p>
				<p><strong>Возраст:</strong> {{ dog.age }}</p>
				<a href="{{ url_for('dog_details', dog_id=dog.id) }}" class="button">Перейти</a>
			</div>
		</div>
		{% endfor %}
	</div>
</body>
</html>